<div>
<h1>WELCOME </h1><br>


<%  if current_user.employer? %>
    <h1>Hello Employer </h1>
    <h3><%= link_to "create job" ,new_job_path %></h3>
    
    <ul>
        <% @jobss.each do |job| %>
        <li>
        <%= link_to job.company, job %>
        </li>
        <% end %>
    </ul>


    
    


    <%= button_to "Sign out", destroy_user_session_path, :method => :delete %>
<%  else current_user.applicant? %>
    <h2>Hello Applicant</h2><br>
    <h4>See all posts</h4>

    <ul>
        <% @jobs.each do |job| %>
            <li>
            <%= link_to job.company, job %>
            </li>
        <% end %>
    </ul>
    <%= button_to "Sign out", destroy_user_session_path, :method => :delete %>

<% end %>
</div>