<div>

<%  if current_user.employer? %>
    <h1>Hello Employer </h1>
    <div>
    <h1>See Post Details </h1><br>
    <h4>Job Profile :<%= @job.title %></h4>

    <h4>Company :<%= @job.company %></h4>

    <h4>Experience :<%= @job.experience %></h4>

    <h4>Salary :<%= @job.salary %></h4><br>
    </div>
    
    <%= button_to "Edit", edit_job_path(@job) %>
    <%= button_to "Destroy", job_path(@job), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>

    <h1>See user who aplied this job: <%= button_to "applied users" ,job_showuser_path(@job)%></h1>
    <ul >
      
    
<%  else current_user.applicant? %>
    <h1>Hello Applicant</h1>
    <h1>See Post Details </h1><br>
   <div>
    <h4>Job Profile :<%= @job.title %></h4>

    <h4>Company :<%= @job.company %></h4>

    <h4>Experience :<%= @job.experience %></h4>

    <h4>Salary :<%= @job.salary %></h4><br>
    </div>
    <%= render 'applies/form'  %>
    
    <%= button_to "Sign out", destroy_user_session_path, :method => :delete %>
 
<% end %>
</div>